* {
     font-family: sans-serif;
}

h1.users-route { 
     background-color: green;
}

ul.users-list {
     color: blue;
}

.error {
     background-color: red;
}

.error-description {
     color: red;
}